@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
background: #ffffff url("wood.jpg");
background-attachment: fixed;
background-color: #457457;
margin: 0px 50px 0px 50px;
height: 100%;
position:relative;;
}

p {
width: 230px;
float: left;
margin: 5px;
padding: 5px;
background-color: #457457;
font-family: 'Roboto', sans-serif;}

.menu {float: left;}


h2 {
position: relative;
text-align: Left;
padding-left: 300px;
color: #957DA8;
top: -50px;
font-family: 'Anton', sans-serif;}


h1 {
text-align: Left;
padding-left: 200px;
color: #957DA8;
font-size: 400%;
font-family: 'Anton', sans-serif;}

table {margin: auto;}

tr {font-family: 'Roboto', sans-serif;
font-style: oblique;}
td {font-family: 'Roboto', sans-serif;}


#header {
background: #ffffff url("header.jpg");
background-size: cover;
padding: 2px;
width: 100%;
height: 80%;
position:relative;}

#wrapper {background-color: #457457;
  width: 75%;
  height: 90%;
  margin: auto;
position:relative;}

#body
{  background-color: #457457;
  padding: 20px 4px 20px 0px;
  width: 100%;
  height: 80%;}

  #footer{
    background-color: #457457;
width: 100%;
  }

.footer {color: white;}

h3 {
position: relative;
font-size: 200%;
padding-left: 30px}


a:link {
color: darkmagenta;
text-decoration: none}

a:visited {color: darkmagenta;}

a:hover {color: thistle;}
